/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  overflow: hidden;
  margin-top: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #bdddf4;
  background-color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 6px;
}

/* Active and hover nav item */
.topnav a.active,
.topnav a:hover {
  background-color: #bdddf4;
  color: #000;
  -webkit-transition: background-color 0.25s linear;
  -ms-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
